body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}

.red-color{
    color: red;
}
.first-part{
    display: flex;
}
.second-part{
    display: flex;
    margin-top: 8%;
}
.third-part{
    display: flex;
}

.exp-item{
    width: 100%;
    padding-top: 5px;
    margin-left: 1%;
    margin-bottom: 10%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    min-height: 300px;
}


.set-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 7%;
    padding-bottom: 5%;
    
}
.set-width img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange, red);
    color: white;
    padding: 10px 30px;
    border: 10px;
    border-radius: 5px;
    font-weight: 600;
}
.first-part{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second-part{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
}
.third-part{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: left;
}
#stack{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
#web{
    border-right: 7px solid;
    border-image: linear-gradient(blue, pink);
    border-image-slice: 3;
}
footer{
    text-align: center;
}
